<app-top-nav></app-top-nav>
<div class="main-container">
  <div class="smartprix-container">
    <app-advertisement-banner></app-advertisement-banner>
    <app-deal-of-day></app-deal-of-day>
    <app-compare-products></app-compare-products>
    <app-trending-category></app-trending-category>
    <app-trending-searches></app-trending-searches>
    <app-product-mobiles></app-product-mobiles>
    <app-product-advertisement-home></app-product-advertisement-home>
    <app-product-washing-machine></app-product-washing-machine>
    <app-product-furnitures></app-product-furnitures>
  </div>
</div>
<app-smartprix-footer></app-smartprix-footer>

