<br>
<div class="row">
  <div class="col-lg-12">
    <div class="uk-card uk-card-default uk-card-body">
      <div class="row">
        <div class="col-lg-12">
          <span class="section-deal-title">Compare Product</span>
        </div>
      </div>
      <br>
      <form>
        <div class="row">
          <div class="col-lg-2">
            <mat-form-field class="company-form-feild">
              <input matInput placeholder="Select Category">
            </mat-form-field>
          </div>
          <div class="col-lg-2">
            <mat-form-field class="company-form-feild">
              <input matInput placeholder="Select Product/Model">
            </mat-form-field>
          </div>
          <div class="col-lg-2">
            <div class="uk-text-center">
              <img class="vs-img" src="../../assets/images/vs-img.png">
            </div>
          </div>
          <div class="col-lg-2">
            <mat-form-field class="company-form-feild">
              <input matInput placeholder="Select Category">
            </mat-form-field>
          </div>
          <div class="col-lg-2">
            <mat-form-field class="company-form-feild">
              <input matInput placeholder="Select Product/Model">
            </mat-form-field>
          </div>
          <div class="col-lg-2">
            <div class="uk-text-center">
            <button class="uk-button uk-button-default uk-button-primary">Compare</button>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>

