<header>
  <nav class="top-nav-section">
    <div class="row">
      <div class="col-lg-12">
        <div class="top-nav-header">
          <img class="company-logo" src="../../assets/logo/sm_small.png">
          <a class="top-menu-icon"><i class="material-icons">menu</i></a>
          <mat-form-field class="search-form-field">
            <input matInput type="text" placeholder="Search for products, brands, features">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div class="flex-spacer"></div>
          <a mat-button>Login</a>
          <a mat-button>Sign Up</a>

          <div class="header-social-collection">
            <a class="header-social"><i class="fab fa-facebook-square"></i></a>
            <a class="header-social"><i class="fab fa-twitter-square"></i></a>
            <a class="header-social"><i class="fab fa-google-plus-square"></i></a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<section class="sub-header-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="top-sub-header">
        <a class="sub-header-menu">Mobiles</a>
        <a class="sub-header-menu">Tablets</a>
        <a class="sub-header-menu">Laptops</a>
        <a class="sub-header-menu">TVs</a>
        <a class="sub-header-menu">Electronics</a>
        <a class="sub-header-menu">Large Appliances</a>
        <a class="sub-header-menu">Personal Care</a>
        <a class="sub-header-menu">Accessories</a>
        <a class="sub-header-menu">Deals</a>
        <a class="sub-header-menu">News</a>
      </div>
    </div>
  </div>
</section>
