<br>
<div class="row">
  <div class="col-lg-12">
    <div class="uk-card uk-card-default uk-card-body">
      <div class="row">
        <div class="col-lg-12">
          <span class="section-deal-title">Washing Machines</span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-12">

          <div uk-slider="center: true">

            <div class="uk-position-relative uk-visible-toggle uk-light">

              <ul class="uk-slider-items uk-child-width-1-6@s uk-grid">
                <li>
                  <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                      <img src="../../assets/trending-search/wash1.png" alt="">
                    </div>
                    <div class="uk-card-body card-body-20">
                      <span>Product Name</span><br>
                      <rating style="color: #FFC315" [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating><br>
                      <div class="product-price-content">
                        <span class="product-price">Rs 1949</span><span class="discount-label uk-label">26% OFF</span>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                      <img src="../../assets/trending-search/wash2.png" alt="">
                    </div>
                    <div class="uk-card-body card-body-20">
                      <span>Product Name</span><br>
                      <rating style="color: #FFC315" [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating><br>
                      <div class="product-price-content">
                        <span class="product-price">Rs 1949</span><span class="discount-label uk-label">26% OFF</span>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                      <img src="../../assets/trending-search/wash3.png" alt="">
                    </div>
                    <div class="uk-card-body card-body-20">
                      <span>Product Name</span><br>
                      <rating style="color: #FFC315" [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating><br>
                      <div class="product-price-content">
                        <span class="product-price">Rs 1949</span><span class="discount-label uk-label">26% OFF</span>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                      <img src="../../assets/trending-search/wash4.png" alt="">
                    </div>
                    <div class="uk-card-body card-body-20">
                      <span>Product Name</span><br>
                      <rating style="color: #FFC315" [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating><br>
                      <div class="product-price-content">
                        <span class="product-price">Rs 1949</span><span class="discount-label uk-label">26% OFF</span>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                      <img src="https://via.placeholder.com/350x250" alt="">
                    </div>
                    <div class="uk-card-body card-body-20">
                      <span>Product Name</span><br>
                      <rating style="color: #FFC315" [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating><br>
                      <div class="product-price-content">
                        <span class="product-price">Rs 1949</span><span class="discount-label uk-label">26% OFF</span>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                      <img src="https://via.placeholder.com/350x250" alt="">
                    </div>
                    <div class="uk-card-body card-body-20">
                      <span>Product Name</span><br>
                      <rating style="color: #FFC315" [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating><br>
                      <div class="product-price-content">
                        <span class="product-price">Rs 1949</span><span class="discount-label uk-label">26% OFF</span>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                      <img src="https://via.placeholder.com/350x250" alt="">
                    </div>
                    <div class="uk-card-body card-body-20">
                      <span>Product Name</span><br>
                      <rating style="color: #FFC315" [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating><br>
                      <div class="product-price-content">
                        <span class="product-price">Rs 1949</span><span class="discount-label uk-label">26% OFF</span>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                      <img src="../../assets/trending-search/wash7.png" alt="">
                    </div>
                    <div class="uk-card-body card-body-20">
                      <span>Product Name</span><br>
                      <rating style="color: #FFC315" [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating><br>
                      <div class="product-price-content">
                        <span class="product-price">Rs 1949</span><span class="discount-label uk-label">26% OFF</span>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                      <img src="../../assets/trending-search/wash6.png" alt="">
                    </div>
                    <div class="uk-card-body card-body-20">
                      <span>Product Name</span><br>
                      <rating style="color: #FFC315" [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating><br>
                      <div class="product-price-content">
                        <span class="product-price">Rs 1949</span><span class="discount-label uk-label">26% OFF</span>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                      <img src="../../assets/trending-search/wash5.png" alt="">
                    </div>
                    <div class="uk-card-body card-body-20">
                      <span>Product Name</span><br>
                      <rating style="color: #FFC315" [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating><br>
                      <div class="product-price-content">
                        <span class="product-price">Rs 1949</span><span class="discount-label uk-label">26% OFF</span>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>

              <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                uk-slider-item="previous"></a>
              <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                uk-slider-item="next"></a>

            </div>

            <!-- <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul> -->

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

