<br>
<div class="row">
  <div class="col-lg-12">
    <div class="uk-card uk-card-default uk-card-body">
      <!-- <div class="row">
        <div class="col-lg-12">
          <span class="section-deal-title">Featured Category</span>
        </div>
      </div>
      <br> -->
      <div class="row">
        <div class="col-lg-12">

          <div uk-slider="center: true">

            <div class="uk-position-relative uk-visible-toggle uk-light">

              <ul class="uk-slider-items uk-child-width-1-5@s uk-grid">
                <li>
                  <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                      <img src="../../assets/trending-search/cat1.png" alt="">
                    </div>

                  </div>
                </li>
                <li>
                  <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                      <img src="../../assets/trending-search/cat2.png" alt="">
                    </div>

                  </div>
                </li>
                <li>
                  <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                      <img src="../../assets/trending-search/cat3.png" alt="">
                    </div>

                  </div>
                </li>
                <li>
                  <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                      <img src="https://via.placeholder.com/350x250" alt="">
                    </div>

                  </div>
                </li>
                <li>
                  <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                      <img src="https://via.placeholder.com/350x250" alt="">
                    </div>

                  </div>
                </li>
                <li>
                  <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                      <img src="https://via.placeholder.com/350x250" alt="">
                    </div>

                  </div>
                </li>
                <li>
                  <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                      <img src="https://via.placeholder.com/350x250" alt="">
                    </div>

                  </div>
                </li>
                <li>
                  <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                      <img src="https://via.placeholder.com/350x250" alt="">
                    </div>

                  </div>
                </li>
                <li>
                  <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                      <img src="../../assets/trending-search/cat5.png" alt="">
                    </div>

                  </div>
                </li>
                <li>
                  <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                      <img src="../../assets/trending-search/cat4.png" alt="">
                    </div>

                  </div>
                </li>
              </ul>

              <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                uk-slider-item="previous"></a>
              <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                uk-slider-item="next"></a>

            </div>

            <!-- <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul> -->

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

